<% layout('layout') -%>
<% if (message) { %>
<p><%= message %></p>
<% } %>
<div class="animated fadeInLeft">
    <div class="row">
        <div>
            <form action="/login" method="post" role="form">
                <div class="form-group">
                    <label for="login_email" class="pull-left">Username</label>
                    <input id="login_email" type="text" name="username" class="form-control" /><br />
                </div>
                <div class="form-group">
                    <label for="login_password" class="pull-left">Password</label>
                    <input id="login_password" type="password" name="password" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>
